@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');





.page-wrapper{
    font-family: Arial, Helvetica, sans-serif; font-size: 22px;
}

a {
    color :violet; font-weight: bold;
}

a:hover {
    color: red;
}

a:visited { 
color: gray;
font-weight: normal;
text-decoration: none;
}


.main p:first-of-type::first-letter {
    font-size: 3em;
    font-family: 'Uncial Antiqua', cursive;
    float: left;
    color: black;
    font-weight: bold;
    margin-right: 8px;
}

.design-selection li {
 border-top: solid; color: black;
 
}
 
